<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="assets/images/userAvatar.png" />

    <form class="form-signin" (ngSubmit)="loginUser()" #loginForm="ngForm">
      <input type="text" id="username" class="form-control" name="username" autocomplete="off" #username="ngModel"
        [(ngModel)]="user.username" placeholder="Username" title="Please enter the username" required autofocus>

      <input type="password" id="password" class="form-control" name="password" autocomplete="off" #password="ngModel"
        [(ngModel)]="user.password" placeholder="Password" title="Please enter the password" required>

        <input type="text" id="authcode" class="form-control" *ngIf="this.tfaFlag" name="authcode" autocomplete="off"
        #authcode="ngModel" [(ngModel)]="user.authcode" placeholder="Two-Factor Auth code" title="Please enter the code" required>

      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit"
        [disabled]="username?.errors?.required || password?.errors?.required || (this.tfaFlag && authcode?.errors?.required)">Sign in</button>

      <p style="text-align:center;">Want to reset login? <a [routerLink]="['/register']">Register here</a></p>
      <p class="text-danger" style="text-align:center;" *ngIf="errorMessage">{{errorMessage}}</p>
    </form>
  </div>
</div>
